.my-center-h {
    margin: auto;
}

.max-card-width {
    max-width: 300px;
    margin: auto;
}

.my-bg-img {
    width: 100%;
    height: auto;
    /* background-image: url("./img/tlos.png"); */
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
        url('./img/tlos.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}